doctype html
html
  head
    include ./views/head.jade
body
  include ./views/sidebar.jade
  include ./views/menu.jade

  .main.container
    .ui.active.tab(data-tab='solar')
        h2.ui.header Solar Power
    .ui.tab(data-tab='wind')
        h2.ui.header Wind Power
    .ui.tab(data-tab='messages')
        h2.ui.header Messages

  .footer

  include ./views/scripts.jade
