doctype html
html
  head
    include ./views/head.jade
body
  include ./views/sidebar.jade
  include ./views/menu.jade

  .main.container
    .ui.tab(data-tab='user')
    .ui.active.tab(data-tab='solar')
        h2.ui.header
          i.orange.sun.icon
          | Solar Power
    .ui.tab(data-tab='wind')
        h2.ui.header
          i.blue.flag.icon
          | Wind Power
    .ui.tab(data-tab='messages')
        h2.ui.header
          i.green.mail.icon
          | Messages

  include ./views/login.jade


  .footer

  include ./views/scripts.jade
