doctype html
html
  head
    include ./head.jade
body
  include ./sidebar.jade
  include ./menu.jade

  .main.container
    .ui.active.tab(data-tab='solar')
      h2.ui.divided.header
        i.orange.sun.icon
        | Solar Power
      #solar-chart.ct-chart.ct-double-octave
    .ui.tab(data-tab='wind')
      h2.ui.divided.header
        i.blue.flag.icon
        | Wind Power
      #wind-chart.ct-chart.ct-double-octave
    .ui.tab(data-tab='map')
      h2.ui.divided.header
        i.green.map.icon
        | Map
    .ui.tab(data-tab='user')
      h2.ui.header
        i.purple.user.icon
        | User Settings

  .footer

  include ./scripts.jade
  script(src='scripts/app.js')

