doctype html
html
  head
    include ./head.jade
body
  include ./menu.jade

  .main.container.tab-content
    #uploads.tab-pane.active.container-fluid
      .page-header
        h1
          i.fa.fa-arrow-circle-o-up.fa-fw.fa-lg
          | Uploads
      include ./uploads.jade
    #solar.tab-pane.container-fluid
      .page-header
        h1
          i.fa.fa-sun-o.fa-fw.fa-lg
          | Solar Power
      .charts.row
    #wind.tab-pane.container-fluid
      .page-header
        h1
          i.fa.fa-flag.fa-fw.fa-lg
          | Wind Power
      .charts.row
    #map.tab-pane.container-fluid
      .page-header
        h1
          i.fa.fa-map-marker.fa-fw.fa-lg
          | Map
    #users.tab-pane.container-fluid
      .page-header
        a.btn.btn-primary.pull-right(data-toggle='modal' data-target='#add-user-modal')
          i.fa.fa-plus.fa-fw
          | Add User
        h1
          i.fa.fa-users.fa-fw.fa-lg
          | Users
      include ./users.jade

  .footer

  include ./scripts.jade
  include ./templates.jade
  script(src='scripts/app.js')
