meta(charset='utf-8')
title Title
meta(name='description', content='')
meta(name='viewport', content='width=device-width')
//- Place favicon.ico and apple-touch-icon.png in the root directory

link(rel='stylesheet', href='styles/main.css')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css')
link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
link(rel='stylesheet', href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css')

link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css')
