#login.ui.modal.small.transition
  .header
    | Log in with Dropbox
  .content
    p Our app uses Dropbox to store your data. Please log in.
  .actions
    #connect.ui.blue.button
      i.dropbox.icon
      | Log in
