#menu.ui.fixed.transparent.menu
  .container
    a#sidebar-toggle.item
      i.reorder.icon
    if username
      a#logout.item(href='/logout')
        i.sign.out.icon
        | Log out
    //- a.title.item(href='/')
    //-   i.home.icon
    //-   | Group A SLIP 2014
