#menu.ui.fixed.large.teal.transparent.menu
  .container
    //- a#sidebar-toggle.item
    //-   i.reorder.icon
    a.item(data-tab='home')
      i.home.teal.icon
      | Home
    a.active.item(data-tab='solar')
      i.sun.orange.icon
      | Solar Power
    a.item(data-tab='wind')
      i.flag.blue.icon
      | Wind Power
    a.item(data-tab='map')
      i.map.green.icon
      | Map
    if username
      .ui.right.item.dropdown
        i.user.purple.icon
        .text #{username}
        .menu
          a.right.item(href='/logout')
            i.teal.sign.out.icon
            | Log out
        i.dropdown.icon
