#sidebar.ui.large.vertical.inverted.labeled.icon.sidebar.menu
  .item
    i.dashboard.blue.circular.inverted.icon
    | Dashboard
    .menu
      a.active.item Search
      a.item Add
      a.item Remove
  a.item
    i.grid.layout.blue.circular.inverted.icon
    | Browse
  a.item
    i.mail.circular.green.inverted.icon
    | Messages
