.ui.sidebar.vertical.menu.active
  .item
    i.dashboard.icon
    | Dashboard
    .menu
      a.active.item Search
      a.item Add
      a.item Remove
  a.item
    i.grid.layout.icon
    | Browse
  a.item
    i.mail.icon
    | Messages
