#sidebar.ui.large.vertical.inverted.labeled.icon.sidebar.menu
  a.active.item(data-tab='solar')
    i.sun.orange.circular.inverted.icon
    | Solar Power
  a.item(data-tab='wind')
    i.flag.layout.blue.circular.inverted.icon
    | Wind Power
  a.item(data-tab='messages')
    i.mail.circular.green.inverted.icon
    | Messages
