#sidebar.ui.large.vertical.inverted.labeled.icon.sidebar.menu
  a.active.item(data-tab='solar')
    i.sun.orange.circular.inverted.icon
    | Solar Power
  a.item(data-tab='wind')
    i.flag.layout.blue.circular.inverted.icon
    | Wind Power
  a.item(data-tab='map')
    i.map.layout.green.circular.inverted.icon
    | Map
  //- a#user.ui.dropdown.item(data-tab='user', style='display: none;')
  //-   i.user.purple.circular.inverted.icon
