script(type='text/template', id='upload-template')
  td <%- user.name %>
  td <%- user.email %>
  td <%- deviceId %>
  td <%- location %>
  td <%- created %>
  td
    .btn-group
      | <a class='btn btn-default create' href='<%= url %>' target='_blank'>
      |  <i class='fa fa-link fa-lg'></i>
      | </a>
      a.btn.btn-default.delete
        i.fa.fa-remove.fa-lg

script(type='text/template', id='user-template')
  a.delete.pull-right.btn
    i.fa.fa-remove.fa-2x
  h4.list-group-item-heading <%- name %>
  p.list-group-item-text <%- email %>

script(type='text/template', id='device-template')
  <%- deviceId %>
  //- p.list-group-item-text <%- email %>

script(type='text/template', id='chart-template')
  .panel.panel-default
    .panel-heading.container-fluid
      .row
        h3.panel-title.col-sm-2.col-md-3.col-lg-3 <%- _id %>
        form.form-horizontal.datefilter.col-sm-10.col-md-9.col-lg-9.row
          .form-group.col-sm-6.col-md-6.col-lg-6.pull-right.row
            label.control-label.col-sm-5.col-md-5.col-lg-0.visible-sm-block.visible-md-block End Date
            div.col-sm-7.col-md-7.col-lg-12
              input.form-control.datepicker.end(type='text', placeholder='End Date')
          .form-group.col-sm-6.col-md-6.col-lg-6.pull-right.row
            label.control-label.col-sm-5.col-md-5.col-lg-0.visible-sm-block.visible-md-block Start Date
            div.col-sm-7.col-md-7.col-lg-12
              input.form-control.datepicker.start(type='text', placeholder='Start Date')
    .panel-body
