div.table-responsive
  table.table.table-bordered.table-striped
    thead
      tr
        th Name
        th Email
        th Device ID
        th Date of Upload
        th Link to Data
    tbody
    tfoot

